In [8]:
import pandas as pd
df=pd.read_csv("train.csv")

api_key="e5eec44335d5436b89247f909654bff2"
df

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435
...,...,...,...,...,...,...,...,...,...,...,...
1458639,id2376096,2,2016-04-08 13:31:04,2016-04-08 13:44:02,4,-73.982201,40.745522,-73.994911,40.740170,N,778
1458640,id1049543,1,2016-01-10 07:35:15,2016-01-10 07:46:10,1,-74.000946,40.747379,-73.970184,40.796547,N,655
1458641,id2304944,2,2016-04-22 06:57:41,2016-04-22 07:10:25,1,-73.959129,40.768799,-74.004433,40.707371,N,764
1458642,id2714485,1,2016-01-05 15:56:26,2016-01-05 16:02:39,1,-73.982079,40.749062,-73.974632,40.757107,N,373
1458643,id1209952,1,2016-04-05 14:44:25,2016-04-05 14:47:43,1,-73.979538,40.781750,-73.972809,40.790585,N,198

In [ ]:
xx=df[:50000]

In [10]:
import requests
from requests.structures import CaseInsensitiveDict
lat_start=xx['pickup_latitude']
lon_start=xx['pickup_longitude']
lat_fin=xx['dropoff_latitude']
lon_fin=xx['dropoff_longitude']
st1=[]
st2=[]
city1=[]
city2=[]
for elem in range(0, len(lat_start)):
    url1 = f"https://api.geoapify.com/v1/geocode/reverse?lat={lat_start}&lon={lon_start}&format=json&apiKey={api_key}"
    url2 = f"https://api.geoapify.com/v1/geocode/reverse?lat={lat_fin}&lon={lon_fin}&format=json&apiKey={api_key}"
    headers = CaseInsensitiveDict()
    headers["Accept"] = "application/json"
    resp1 = requests.get(url1, headers=headers)
    resp2 = requests.get(url2, headers=headers)
    res1=resp1.json().get('results')
    st1.append(res1[0].get('state'))
    city1.append(res1[0].get('city')
    res2=resp2.json().get('results')
    st2.append(res2[0].get('state'))
    city2.append(res2[0].get('city')

SyntaxError: invalid syntax (4076306898.py, line 21)

In [54]:
import requests
lat_start="40.767937"
lon_start="-73.982155"
url = f"https://api.geoapify.com/v1/geocode/reverse?lat={lat_start}&lon={lon_start}&format=json&apiKey={api_key}"


resp = requests.get(url)
street= resp.json()['results'][0]['street']
suburb= resp.json()['results'][0]['suburb']
city = resp.json()['results'][0]['city']
state = resp.json()['results'][0].keys()
state

dict_keys(['datasource', 'name', 'country', 'country_code', 'state', 'county', 'city', 'postcode', 'district', 'suburb', 'street', 'lon', 'lat', 'state_code', 'distance', 'result_type', 'formatted', 'address_line1', 'address_line2', 'category', 'timezone', 'rank', 'place_id', 'bbox'])

# DA QUI

In [48]:
prova = df[:500].copy()

In [59]:
def extract_info(data):
    longitude = data['pickup_longitude']
    latitude = data['pickup_latitude']
    
    url = f"https://api.geoapify.com/v1/geocode/reverse?lat={latitude}&lon={longitude}&format=json&apiKey={api_key}"
    resp = requests.get(url)
    
    
#     if 'street' in resp.json()['results'][0].keys():
        
#          street= resp.json()['results'][0]['street']
#     else:
#          street = resp.json()['results'][0]['road']
        
#     suburb= resp.json()['results'][0]['suburb']
#     city = resp.json()['results'][0]['city']
#     state = resp.json()['results'][0]['state']
#     return (street,suburb,city,state)
    
    formatted= resp.json()['results'][0]['formatted']
    return formatted


prova['location_info'] = prova.apply(extract_info, axis=1)

In [61]:
prova

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,location_info
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,"Columbus Circle, New York, NY 10023, United St..."
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,"East 24th Street, New York, NY 10010, United S..."
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,"Avenue of the Americas Plaza, 120 West 56th St..."
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,"377 Greenwich Street, New York, NY 10013, Unit..."
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,"Gotham Wines & Liquors, 2517 Broadway, New Yor..."
...,...,...,...,...,...,...,...,...,...,...,...,...
495,id0194198,2,2016-05-15 14:44:09,2016-05-15 15:29:08,4,-73.862663,40.768768,-73.975220,40.763512,N,2699,"Terminal D (Delta Terminal), Terminal D Post-S..."
496,id0260905,1,2016-01-13 21:06:29,2016-01-13 21:18:20,1,-73.972298,40.756065,-73.990395,40.771767,N,711,"W New York At Lexington Avenue, New York, NY 1..."
497,id0398807,2,2016-02-23 14:50:40,2016-02-23 15:07:24,6,-73.973572,40.752167,-73.974533,40.730267,N,1004,"intlFcstone 10022 LOCi Multi, East 44th Street..."
498,id1428415,1,2016-02-14 20:13:17,2016-02-14 20:28:14,1,-73.980286,40.734428,-73.976341,40.763988,N,897,"329 1st Avenue, New York, NY 10003, United Sta..."
499,id3920713,2,2016-01-16 17:56:52,2016-01-16 18:03:34,2,-73.975647,40.741409,-73.977242,40.726372,N,402,"350 East 30th Street, New York, NY 10016, Unit..."

In [ ]:
#prova['location_info'] = prova.apply(extract_info, axis=1)
#prova[['street', 'suburb', 'city', 'state']] = pd.DataFrame(prova['location_info'].tolist(), index=prova.index)

In [ ]:
prova